<ion-content class="content">
  <div><h3>Pet Plan</h3>
    <ion-fab class="fab" vertical="top" horizontal="end">
      <ion-fab-button>
        <div><p>Today<ion-icon name="chevron-down-circle"></ion-icon></p></div>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button>
          <div><p>Today</p></div>
        </ion-fab-button>
        <ion-fab-button>
          <div><p>Weekly</p></div>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-label>Monday <p>04.17.23</p></ion-label>
  </div>
  <div class="cards">
    <ion-card class="class1"><p></p></ion-card>
    <ion-card class="class2"><p></p></ion-card>
    <ion-card class="class3"><p></p></ion-card>
    <ion-card class="class4"><p></p></ion-card>
    <ion-card class="class5"><p></p></ion-card>
    <ion-card class="class6"><p></p></ion-card>
    <ion-card class="class7"><p></p></ion-card>
    <ion-card class="class8"><p></p></ion-card>
    <ion-card class="class9"><p></p></ion-card>
  </div>
</ion-content>
