ion-card-title {
   text-align: left;
   top: 10px;
   margin-left: 10px;
}

ion-card-content {
    text-align: left;
    margin-left: 5px;
    font-size: 20px;
    color: black;
}

ion-card {
    --background:#9bedc7;
}
