
.icon{
    display: flex;
    margin-top: 1.5rem;
    margin-left: 2rem;
    font-size: 2rem;
    background-color: #e7c9c9;
    transform: translate(-40%, -40%);
    width: 30px;
    height: 30px;
    border-radius: 20%;
}
