.container{
    text-align: center;
    margin-top: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

p{
    font-size: 20px;
    font-weight: bold;
}
