
button{
	border-radius: 20%;
	padding: 20%;
	background-color: aquamarine;
}

.dog{
		color:#ffffff;
		font-family:Arial;
		font-size:17px;
		text-decoration:none;
		
}  
.cat{
		color:#ffffff;
		font-family:Arial;
		font-size:17px;
		text-decoration:none;
		margin-top: 5%;
  }
  
  