<ion-content *ngIf="user$ | async as User">
  <div class="menu_btn">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </div>

  <div class="slides">
    <p>Services offered</p>
    <swiper-container
      class="swiper-container"
      pagination="true"
      pagination-clickable="true"
      space-between="30"
      centered-slides="true"
      autoplay-delay="2500"
      autoplay-disable-on-interaction="false"
    >
      <swiper-slide *ngFor="let service of servicesSlide" class="service_slide">
        <p>{{service.title}}</p>
        <img src="{{service.img}}" alt="" />
      </swiper-slide>
    </swiper-container>
  </div>

  <!-- <swiper-container >
    <swiper-slide>
      <div class="_card"><img src="" alt="" />Vaccination</div>
    </swiper-slide>

    <swiper-slide>
      <div class="_card"><img src="" alt="" />Grooming</div>
    </swiper-slide>

    <swiper-slide>
      <div class="_card"><img src="" alt="" />Stug</div>
    </swiper-slide>

  </swiper-container> -->

  <h3>Pets</h3>
  <div class="icon-container">
    <ion-segment
      [(ngModel)]="selectedSegment"
      (ionChange)="segmentChanged()"
      class="custom-segment"
    >
      <ion-segment-button value="1">
        <div class="card-icon">
          <img src="/assets/home_icon/dog.png" />
          <p>Dogs</p>
        </div>
      </ion-segment-button>

      <ion-segment-button value="2">
        <div class="card-icon">
          <img src="/assets/home_icon/cat.png" />
          <p>Cats</p>
        </div>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Content for Dogs -->
  <div *ngIf="selectedSegment === '1'">

    <div class="stickybar">
      <div class="input-wrapper">
        <input type="text" placeholder="Search..." name="text" class="input" [(ngModel)]="search" (input)="onDogSearch()" autocomplete="off">
      </div>
    </div>

    <!-- Display no result -->
    <div *ngIf="!(searchdog | async)?.length && search.trim()">
      <p>No results found</p>
    </div>

    <!-- Display if dog exist -->
    <div *ngIf="searchdog && (searchdog | async)?.length > 0">
      <div class="pet-container" *ngFor="let dog of (searchdog | async)" [routerLink]="'/dog-details/' + dog.id">
        <div class="pet-card">
          <img [src]="dog?.petphoto !== '' ? dog.petphoto : '/assets/palceholder.png'" alt="{{dog.name}}" />
          <p>{{ dog.name }}</p>
        </div>
      </div>
    </div>

    <!-- Display orginal view if no search perform -->
    <div *ngIf="!(searchdog | async)?.length || !(search.trim())">
      <div class="pet-container" *ngFor="let dog of dogInfo | async" [routerLink]="'/dog-details/' + dog.id">
        <div class="pet-card">
          <img [src]="dog?.petphoto !== '' ? dog.petphoto : '/assets/palceholder.png'" alt="{{dog.name}}" />
          <p>{{ dog.name }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Content for Cats -->
  <div *ngIf="selectedSegment === '2'">

    <div class="stickybar">
      <div class="input-wrapper">
        <input type="text" placeholder="Search..." name="text" class="input" autocomplete="off">
      </div>
    </div>

    <div
      class="pet-container"
      *ngFor="let cat of catInfo | async"
      [routerLink]="'/cat-details/' + cat.id"
    >
      <div class="pet-card">
        <img
          [src]="cat?.petphoto !== '' ? cat.petphoto : '/assets/palceholder.png'"
          alt="{{cat.name}}"
        />
        <p>{{ cat.name }}</p>
      </div>
    </div>
  </div>

</ion-content>
