<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Cat" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" *ngIf="petInfo" [routerLink]="'/cat-update/' + petInfo.id">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="petInfo" class="grid">

  <div>
    <h2>
      {{ petInfo.name }}
    </h2>
    <img [src]="petInfo.catphoto"/>
  </div>

  <ion-grid>

    <ion-row>
      <ion-col size="6">
       <ion-item [routerLink]="'/cat-info/' + petInfo.id">
        <ion-icon src="/assets/icon/info.svg"></ion-icon>
        <ion-title>Info</ion-title>
       </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item [routerLink]="'/cat-med/' + petInfo.id">
          <ion-icon name="medkit-outline"></ion-icon>
          <ion-title>Medicine</ion-title>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item [routerLink]="'/cat-food/' + petInfo.id">
          <ion-icon name="restaurant-outline"></ion-icon>
          <ion-title>Food</ion-title>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item >
          <ion-icon name="cut-outline"></ion-icon>
          <ion-title>Grooming</ion-title>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-icon name="shapes-outline"></ion-icon>
          <ion-title>Activities</ion-title>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item [routerLink]="'/cat-vac/' + petInfo.id">
          <ion-title>Vaccine</ion-title>
        </ion-item>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
